

.inline {
	display: inline-block;
	top: 0;
	vertical-align: top;
}

#choose, #players, #resert_div {
	width: 400px;
	height: auto;
	text-align: center;
	border: 1px solid black;
	padding: 20px 0;
	margin: 7px 0;
}

#one_player, #two_players, #reset {
	padding: 5px;
}

#play_with, #you_choose {
	margin: 20px;
	font-size: 20px;
}

table{
	max-width: 450px;
	max-height: 450px;
	margin: 5px auto;
}

td
{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	text-align: center;
	font-size: 50px;
}

#helper
{
	display: none;
}

#statement
{
	max-width: 450px;
	height: 150px;
	margin: 50px auto;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
}